{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Elements</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newElement')}}">
				<button class="btn btn-default" id="new-element">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Element
				</button>
            </a>
            
		</div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <h3>Element</h3>
    {% for element in elements %}
        <div class="col element-list"></div>
            <a href = "{{url_for('showMenu', element_id = element.id)}}">
                <h3>{{element.name}}</h3>
            </a>
        </div>
    {% endfor %}
    <h3>Latest item</h3>
    {% for item in items}
        <div class="col element-list">
            <h3>{{item.name}}</h3>
        </div>
    {% endfor %}
    </div>        
{% endblock %}