<head>

    <!--LOAD PRE REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.main.js">
    </script>

    <script src="//apis.google.com/js/platform.js?onload=start"></script>

    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
        function start() {
            gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                    client_id:
                })
            })
        }
    </script>
</head>